{% extends "admin/base_site.html" %}

{% load static %}
{% load i18n %}

<!-- custom filter module -->
{% load i18n_switcher %}


{% block branding %}
<h1 id="site-name" style="text-align:center">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'images/logo_en.png' %}" height="40px" />
        </a>
        STANDARTLAŞDYRYLAN HASABAT ULGAMY
    </h1>
{% endblock %}
{% block title %}{%if request.user.edarasy%}{{ request.user.edarasy }}{%else%}Admin{%endif%}
| {{ site_title|default:_('NEW TITLE') }}{% endblock %}
{% block extrahead %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
{% endblock %}

{% block userlinks %}
    
    <a href="{{ request|switch_i18n:'tr' }}" style="font-size: 18px">
        TM
        <img width="20px"  class="i18n_flag" src="{% static 'images/turkmenistan-flag-button-round-icon-128.png' %}"/>
    </a> /
    <a href="{{ request|switch_i18n:'ru' }}" style="font-size: 18px">
        RU
        <img width="20px" class="i18n_flag" src="{% static 'images/russia-flag-3d-round-icon-128.png' %}"/>
    </a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
{% block nav-global %}{% endblock %}